In [1]:
import pandas as pd
df = pd.read_csv('http://www.stat.wisc.edu/~jgillett/451/data/mtcars.csv', index_col=0)

In [2]:
num_columns = df.shape[1]
print(num_columns)

11

In [3]:
combination_counts = df.groupby(['vs', 'carb']).size()
num = combination_counts.loc[1, 2]
print(num)

5

In [4]:
lowest_hp = df['hp'].min()
print(lowest_hp)

52

In [5]:
car_with_lowest_hp = df['hp'].idxmin()
options = ["Mazda RX4", "Toyota Corolla", "Honda Civic", "Maserati Bora", "Camaro Z28"]
answer = options.index(car_with_lowest_hp)
print(answer)

2

In [6]:
average_hp = df['hp'].mean()
print(average_hp)

146.6875

In [7]:
disp_honda_civic = df.loc['Honda Civic', 'disp']
print(disp_honda_civic)

75.7

In [8]:
df2 = df.iloc[:4, :3]
std_mileage = df2['mpg'].std()
print(std_mileage)

0.8544003745317535

In [9]:
df3 = df[['hp', 'qsec', 'gear']]
value = df3.iloc[1, 2]
print(value)

4

In [10]:
sorted_df = df.sort_index(ascending=False)
fourth_row_car = sorted_df.index[3]
answer_sorted = options.index(fourth_row_car)
print(answer_sorted)

1

In [11]:
sorted_df2 = df.sort_values(by=['gear', 'hp'], ascending=[True, False])
mileage_first_row = sorted_df2['mpg'].iloc[0]
print(mileage_first_row)

14.3

In [12]:
import pandas as pd

# Given data
data = [
    [19,"M",168.7,"amber","auburn"],
    [20,"F",138.7,"amber","blond"],
    [21,"M",164.9,"hazel","gray"],
    [21,"F",191.5,"gray","blond"],
    [24,"F",167.8,"brown","red"],
    [17,"M",93.6,"green","auburn"],
    [13,"F",142,"hazel","auburn"],
    [25,"F",179.6,"brown","white"],
    [18,"M",179.6,"amber","auburn"],
    [16,"F",210.3,"blue","red"],
    [19,"F",146.1,"blue","black"],
    [19,"M",234.4,"hazel","blond"],
    [19,"M",231.8,"green","gray"],
    [20,"F",237.9,"green","black"],
    [18,"M",199.1,"hazel","white"],
    [17,"F",204.7,"gray","brown"],
    [14,"M",202.8,"brown","chestnut"],
    [20,"M",242,"gray","auburn"],
    [21,"F",108.3,"blue","gray"],
    [24,"F",91.9,"gray","chestnut"]
]
columns = ["age","sex","weight","eye_color","hair_color"]
df = pd.DataFrame(data, columns=columns)

In [13]:
# Question 11
mean_age_females = df[df['sex'] == 'F']['age'].mean()
print(f"11. Mean age of females: {mean_age_females:.2f}")

11. Mean age of females: 20.00

In [14]:
# Question 12
mean_age_males_brown_eyes = df[(df['sex'] == 'M') & (df['eye_color'] == 'brown')]['age'].mean()
print(f"12. Mean age of males with brown eyes: {mean_age_males_brown_eyes:.2f}")

12. Mean age of males with brown eyes: 14.00

In [15]:
# Question 13
people_with_specified_hair = df[df['hair_color'].isin(['black', 'blond', 'brown'])].shape[0]
print(f"13. Number of people with black, blond, or brown hair: {people_with_specified_hair}")

13. Number of people with black, blond, or brown hair: 6

In [17]:
# Question 14
people_hazel_eyes_not_gray_hair = df[(df['eye_color'] == 'hazel') & (df['hair_color'] != 'gray')].shape[0]
print(f"14. Number of people with hazel eyes but not gray hair: {people_hazel_eyes_not_gray_hair}")

14. Number of people with hazel eyes but not gray hair: 3